# Virtual Environments
.venv/
F5_TTS/.F5_venv/

# Python Cache
__pycache__/
*.pyc

# Output files
output/

# F5-TTS temporary testing folder
F5_TTS/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
